<!-- En este archivo se crea una vista simple para el administrados -->
<div class="mainCon">
    <div class="container">
        <mat-card class="card">
            <h1>
                Administrador
            </h1>
        </mat-card>
    </div>
    <div class="botones">
      <!-- Se crean botones para redireccionar a la vista deseada-->
        <button mat-button class="btn" [routerLink]="'/gestionprodsclientes'">
          <h5>
            Gestión de Productos
          </h5>
        </button>
        <button mat-button class="btn" [routerLink]="'/categorias'">
          <h3>
            Categoría
          </h3>
        </button>
        <button mat-button class="btn" [routerLink]="'/adminafiliados'">
          <h5>
            Administrar Afiliación
          </h5>
        </button>
        <button mat-button class="btn" [routerLink]="'/reportes'">
          <h3>
            Reportes
          </h3>
        </button>
    </div>
</div>