<div class="col-md-12 user-container">
    <!--Encabezado Vista-->
    <h2 class="encabezado"> Reportes Top 10</h2>
    <button class="botonvolver" [routerLink]="'/administrador'"> Volver </button>
    <div class="container">
        <div class="row align-items-end">
          <div class="col">
            <h3>Más Vendidos</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <!--Division de la Tabla-->
                  <th class="hidden">Nombre</th>  
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prod of productos">
                  <td class="hidden"></td>
                  <!--Informacion Tabla-->
                  <td>{{prod.Producto}}</td>
                </tr>
                </tbody>
            </table>
          </div>
          <div class="col">
            <h3>Más Ganancia</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <!--Division de la Tabla-->
                  <th class="hidden">Nombre</th>  
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prod of productos">
                  <td class="hidden"></td>
                  <!--Informacion Tabla-->
                  <td>{{prod.Producto}}</td>
                </tr>
                </tbody>
            </table>
          </div>
          <div class="col">
            <h3>Por Productor</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <!--Division de la Tabla-->
                  <th class="hidden">Nombre</th>  
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prod of productos">
                  <td class="hidden"></td>
                  <!--Informacion Tabla-->
                  <td>{{prod.Producto}}</td>
                </tr>
                </tbody>
            </table>
          </div>
          <div class="col">
            <h3>Clientes</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <!--Division de la Tabla-->
                  <th class="hidden">Nombre</th>  
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prod of cliente">
                  <td class="hidden"></td>
                  <!--Informacion Tabla-->
                  <td>{{prod.Producto}}</td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
</div>

  


 