<div class="col-md-12 user-container">
    <!--Encabezado Vista-->
    <h2 style="margin: auto; padding: 10px"> Administración Afiliación</h2>
    <button class="btn btn-danger" style="width:100px; margin: 15px; float:right" [routerLink]="'/administrador'" > Volver</button>   
    <div>
        <mat-card class = "tp-card">
            <mat-card-content>
                <h6>Nombre: {{Nombre}}</h6> 
                <h6>Apellidos: {{Apellidos}}</h6>
                <h6>Cédula: {{Cedula}}</h6>
                <h6>Dirección: {{Direccion}}</h6>
                <h6>Fecha Nacimiento: {{FecNac}}</h6>
                <h6>Teléfono: {{Telefono}}</h6>
                <h6>Sinpe Móvil: {{Sinpe}}</h6>
                <h6>Lugares Entrega: {{LgsEntre}}</h6>  
                  
            </mat-card-content>
            <mat-card-actions>
               <button class="botoneditar">Editar</button>
               <button class="botoneliminar">Eliminar</button>
            </mat-card-actions>
         </mat-card>
    </div>
    <div>
        <mat-card class = "tp-card">
            <mat-card-content>
                <h6>Nombre: {{Nombre}}</h6> 
                <h6>Apellidos: {{Apellidos}}</h6>
                <h6>Cédula: {{Cedula}}</h6>
                <h6>Dirección: {{Direccion}}</h6>
                <h6>Fecha Nacimiento: {{FecNac}}</h6>
                <h6>Telefono: {{Telefono}}</h6>
                <h6>Sinpe Movil: {{Sinpe}}</h6>
                <h6>Lugares Entrega: {{LgsEntre}}</h6>  
                 
            </mat-card-content>
            <mat-card-actions>
               <button class="botoneditar">Editar</button>
               <button class="botoneliminar">Eliminar</button>
            </mat-card-actions>
         </mat-card>
    </div>
</div>