<!-- Se crea una vista simple para subir el comprobante de compra-->
<header class="header">
    <img class="logoContainer" mat-card-image src="../../../assets/Images/logo.png">
</header>
<body>
    <h1 class="gracias">¡GRACIAS POR REALIZAR UNA COMPRA!</h1>
    <h2>Por favor agregar el comprobante de la compra</h2>
    <div class="container">
        <!-- En este botón se tiene el salto de la vista y la función para subir imagen-->
        <button mat-button class="btn" [routerLink]="'/feedback'">
            <h3>
                Subir
            </h3> 
        </button> 
    </div>
</body>