<header class="header">
  <img class="logoContainer" mat-card-image src="../../../assets/Images/logo.png">
  <div class="botones">

    <button mat-button class="btnRes" [routerLink]="'/signin'">
      <h3>
        Sing up
      </h3>
    </button>
    
    <button mat-button class="btnLog" [routerLink]="'/login'">
      <h3>
        Log In
      </h3>
    </button>
  </div>
</header>
<div class="body">

  <div class="carousel">

    <button mat-flat-button (click)="left()">
      <img src="../../../assets/Images/Polygon 1.png" />
    </button>

    <mat-card class="imgs">
      <img mat-card-image src="{{ img[i] }}"/>
    </mat-card>

    <button mat-flat-button (click)="right()">
      <img src="../../../assets/Images/Polygon 2.png" />
    </button>
  
  </div>
  <div class="dist">
    <h1>Productores en toda Costa Rica</h1>
    <div class="fila">
      <div class="map">
        <img src="../../../assets/Images/image 32.png" />
      </div>
      <!--aqui van los botones de tramos-->
    </div>
    
  </div>
</div>