<div class="flex">
    <img class="logoContainer" mat-card-image src="../../../assets/Images/logo.png">
    <mat-card class="cardRes">
        <h1 class="text">Crear cuenta</h1>
        <mat-card-content class="res">
            <!-- Se agregan formControls para acceder a la informacaion ingresada por el usuario 
                por medio de las variables que guardan el valor del form-->
            <mat-form-field appearance="form" class="form">
                <input matInput type="text" [formControl]="name" ng model = "@username" placeholder="Correo electrónico"/>
            </mat-form-field>

            <mat-form-field appearance="form" class="form">
                <input matInput type="password" [formControl]="pass" ng model = "@userpassword" placeholder="Contraseña"/>
            </mat-form-field>
            <button mat-button class="btn-res" [routerLink]="'/afiliacion'" >
                <h3>Registrarse</h3>
            </button>
        </mat-card-content>
    </mat-card>
</div>

