<div class="flex">
    <img class="logoContainer" mat-card-image src="../../../assets/Images/logo.png">
    <mat-card class="cardLogin">
        <h1 class="text"> Iniciar sesión</h1>
        <mat-card-content class="log">
            <mat-form-field appearance="form" class="form">
                <input matInput type="text" [formControl]="name" placeholder="Correo electrónico"/>
            </mat-form-field>

            <mat-form-field appearance="form" class="form">
                <input matInput type="password" [formControl]="pass" placeholder="Contraseña"/>
            </mat-form-field>
            <button mat-button class="btn-login" [routerLink]="'/afiliacion'">
                <h3>Ingresar</h3>
            </button>
        </mat-card-content>
    </mat-card>
</div>

