<div class="flex">
    <img class="logoContainer" mat-card-image src="../../../assets/Images/logo.png">
    <mat-card class="cardLogin">
        <h1 class="text"> Iniciar sesión</h1>
        <mat-card-content class="log">
            <!-- Se agregan formControls para acceder a la informacaion ingresada por el usuario 
                por medio de las variables que guardan el valor del form-->
            <mat-form-field appearance="form" class="form">
                <input matInput type="text" [formControl]="name" ng model = "@username" placeholder="Usuario" required/>
            </mat-form-field>
            <mat-form-field appearance="form" class="form">
                <input matInput type="password" [formControl]="pass" ng model = "@userpassword" placeholder="Contraseña" required/>
            </mat-form-field>
            <div class="rol"> 
                <label for="rol"><b>Selecciona tu rol</b>:</label>
                <select class="form-control" formControlName="rol">
                <option value="productor">Productor</option>
                <option value="cliente">Cliente</option>
                </select>
            </div>
            <button mat-button class="btn-login" (click) = "validate()" [routerLink]="['/cliente','Viviana123']"  >
                <h3>Ingresar</h3>
            </button>
        </mat-card-content>
    </mat-card>
</div>

