<!-- Es una vista simple que cuenta con los botones necesarios para el productor-->
<div class="mainCon">
    <div class="container">
        <mat-card class="card">
            <h1>
                Productor
            </h1>
        </mat-card>
    </div>
    <div class="conCar">
      <div class="botones">
          <button mat-button class="btn" [routerLink]="['/gestionproductos',cedula]">
            <h5>
              Gestion de Productos
            </h5>
          </button>
          <button mat-button class="btn" [routerLink]="['/pedidos',cedula]">
            <h3>
              Pedidos
            </h3>
          </button>
          <button mat-button class="btnLo" [routerLink]="'/home'">
            <h3>
              Log out
            </h3>
          </button>
          </div>
          <div class="carousel">

            <button mat-flat-button (click)="left()">
              <img src="../../../assets/Images/Polygon 1.png" />
            </button>

            <mat-card class="imgs">
              <img mat-card-image src="{{ img[i] }}"/>
            </mat-card>

            <button mat-flat-button (click)="right()">
              <img src="../../../assets/Images/Polygon 2.png" />
            </button>
          </div>
    </div>
</div>
