<div class="mainCon">
    <div class="container">
        <mat-card class="card">
            <h1>
                Productor
            </h1>
        </mat-card>
    </div>
    <div class="botones">
        <button mat-button class="btn" [routerLink]="'/gestionproductos'">
          <h5>
            Gestion de Productos
          </h5>
        </button>
        <button mat-button class="btn" [routerLink]="'/pedidos'">
          <h3>
            Pedidos
          </h3>
        </button>
        <button mat-button class="btn" [routerLink]="'/afiliacion'">
          <h5>
            Solicitud de Afiliacion
          </h5>
        </button>
    </div>
</div>